<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SchoolManagementSystems.Properties.Settings.smsConnectionString"
            connectionString="server=localhost;user id=root;database=sms"
            providerName="MySql.Data.MySqlClient" />
        <add name="SchoolManagementSystems.Properties.Settings.smsConnectionString1"
            connectionString="server=localhost;user id=root;database=sms;persistsecurityinfo=True;password=devil"
            providerName="MySql.Data.MySqlClient" />
        <add name="SchoolManagementSystems.Properties.Settings.smsConnectionString2"
            connectionString="server=localhost;user id=root;database=sms;persistsecurityinfo=True;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>